* {
    margin: 0px;
    padding: 0px;
    font-family: Roboto, sans-serif;
}

.top-banner {
    background-image: url("../images/donation6.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 630px;
}

.top-banner h1 {
    color: rgb(255, 255, 255);
    font-size: 50px;
    margin: 0px 330px;
    padding-top: 150px;
    text-align: center;
    padding-bottom: 30px;
}

.top-banner p {
    color: rgb(255, 255, 255);
    font-size: 20px;
    margin: 0px 330px;
    text-align: center;
    font-weight: 400;
    padding-bottom: 60px;
}

.contact-national-donation {
    text-decoration: none;
    color: orange;
    font-weight: 700;
}

.link-btn {
    background-image: linear-gradient(45deg, orange, tomato);
    font-size: 20px;
    color: rgb(255, 255, 255);
    font-weight: 700;
    padding: 20px 40px;
    border-radius: 20px;
    text-decoration: none;
    margin-left: 45%;
}

.donate-today {
    height: 400px;
}

.donate-heading {
    font-size: 50px;
    color: rgb(0, 0, 0);
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
}

.donate-describe {
    font-size: 16px;
    text-align: center;
    margin: 0px 300px;
    color: rgb(120, 120, 120);
}

.donation-amount {
    margin-left: 24%;
    margin-top: 40px;
}

.donation-amount h1 {
    float: left;
    margin-left: 40px;
    padding: 25px 15px;
    background-color: rgb(250, 250, 250);
    border-radius: 10px;
    font-size: 40px;
}

.other-amount {
    margin-left: 26%;
}

.text-box {
    text-align: center;
    width: 700px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-image: initial;
    border-bottom: 2px solid rgb(227, 213, 213);
    font-size: 20px;
    padding-bottom: 5px;
}

.second-donate-now-btn {
    margin-top: 50px;
}

.our-donate-plan {
    margin-top: 100px;
    height: 500px;
}

.donate {
    margin-top: 50px;
    margin-left: 10%;
}

.donate-plan {
    float: left;
    width: 26%;
}

.donate-plan h2 {
    margin: 20px 0px;
    font-size: 25px;
}

.describe {
    font-size: 15px;
    color: rgb(51, 51, 51);
}

.donate-plan img {
    margin-top: 30px;
}

#donate-plan-01 {
    background-color: rgb(237, 245, 246);
    padding: 20px;
    border-radius: 10px;
    height: 380px;
    margin-right: 20px;
    text-align: justify;
}

#donate-plan-02 {
    background-color: rgb(255, 238, 238);
    padding: 20px;
    border-radius: 10px;
    height: 380px;
    margin-right: 20px;
    text-align: justify;
}

#donate-plan-03 {
    background-color: rgb(255, 244, 214);
    padding: 20px;
    border-radius: 10px;
    height: 380px;
    text-align: justify;
}

.footer {
    margin-top: 100px;
    height: 150px;
    background-color: rgb(11, 13, 23);
}

.footer h1 {
    padding-top: 30px;
    font-size: 40px;
    color: rgb(222, 78, 80);
    text-align: center;
    margin-bottom: 10px;
    font-family: Lobster, cursive;
}

.footer h4 {
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-align: center;
    font-weight: 300;
}

.get-my-updates {
    margin-top: 200px;
}

.subscribe-box {
    padding: 60px;
    background-color: rgb(255, 244, 214);
    width: 50%;
    margin-left: 20%;
    margin-top: 50px;
}

.input-box {
    border: none;
    background: rgb(217, 217, 217);
    padding: 15px;
    font-size: 18px;
    margin-left: 18%;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    width: 280px;
}

.btn-box {
    text-decoration: none;
    background: rgb(255, 89, 89);
    color: rgb(255, 255, 255);
    padding: 15px;
    font-size: 18px;
    position: absolute;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    width: 100px;
    text-align: center;
}

.unicef-article-for-cildren {
    height: 500px;
    margin-top: 104px;
}

.half-width {
    float: left;
    width: 40%;
    margin: 0px 50px;
}

.half-width img {
    width: 100%;
    height: 400px;
    border-radius: 10px;
}

.unicef-title {
    padding-top: 20px;
    color: rgb(103, 103, 103);
    font-size: 30px;
    padding-bottom: 20px;
}

.unicef-describe {
    font-size: 17px;
    text-align: justify;
    color: rgb(51, 51, 51);
}

.reference {
    text-decoration: none;
    font-size: 16px;
    color: blue;
    border-bottom: 1px solid blue;
}